/* navbars */
.navbar{
    position: relative;
    z-index: 1;
}
.navbar .navbar-brand{
    color:seagreen;
}
/* buttons, general */
.btn-general{
    background: seagreen;
    border: none;
    color: white;
}

.btn-general:hover{
    background: white;
    border: 1px solid seagreen;
    color:seagreen;
}
/* Slider */
.d-block{
    position: relative;
    object-fit: cover;
    z-index: -1;
}
/* Cards */
.cards{
    display: grid;
    grid-template: auto / auto;
    justify-content: center;
}
.card{
    cursor: pointer;
    margin: 1rem;
}
.card:hover{
    box-shadow: 0px 0px 30px seagreen;
}

/* our-story */

.our-story{
    background: seagreen;
    color: white;
    padding:1rem;
}
.our-story h2{
    padding: 1rem;
}
.our-story img{
    border-radius: 10px;
    border: 2px dashed white;
    padding: .5rem;
}
/* Blurb */
.callout{
    display: grid;
    grid-template: auto / auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.callout div{
    display: grid;
    grid-template: auto / auto auto;
    justify-content: space-between;
}
.calloutbtn1,.calloutbtn2{
    margin:1rem;
}

/* Slider 2 */
#caroselNumberTwo{
    height: 50vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Pet Names */
.misc{
    display: grid;
    grid-template: auto auto / auto;
    justify-content: center;
}
.pet-names{
    margin: 1rem;
    text-align: center;
}
.pet-name-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.display-name{
    color: seagreen;
    border-bottom: 5px solid seagreen;
}
/* Footer */
footer div {
    display: grid;
    background:seagreen;
    grid-template: repeat(5, auto) / auto auto;
    justify-content: center;
}
footer div a {
    margin: 1rem;
    color: white;
    text-decoration: none;
}
footer div a:hover {
    color: black;
}

/* ---- LAPTOP SETTINGS ---- */
@media only screen and (min-width: 800px) {

/* Cards */
.cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.cards, .coupons{
    display: grid;
    grid-template: auto / auto auto auto;
    justify-content: space-around;
}

/* our story */
.our-story{
    display: grid;
    grid-template: auto / auto auto;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
.our-story h2{
    padding: 0;
}

/* Blurb */
.callout{
    height: 40vh;
}

/* Footer */
footer div {
    display: grid;
    grid-template: repeat(5, auto) / auto auto;
    justify-content: space-around;
}

}/* end media query */